body{
  height: 100%; background-image: url('../images/bright_squares.png');
}
.example {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 50px;
  width: 500px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #424242;
text-align: left;

}

.input {
  font-family: monospace;
  font-size: 25px;
  font-weight: 700;
  background-color: #07f7ff;
  color: rgb(0, 0, 0);
border: 0px;
width: 300px;
height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px rgba(14, 31, 185, 0.29) inset;
  padding-left: 10px;
  padding-right: 10px;
}
li{
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  list-style-type: none
}
.card__content{
  display: flex;
}

